<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> <%= title %> </title>
      
            
        <style type="text/css">
            body {
                padding: 50px;
                font: 13px Helvetica, Arial, sans-serif;
                /*color:red;*/
            }
            .a{
            	color:black;
            }
            .b{
            	color:yellow;
            }
            .c{
            	color:#ccc;
            }
            .d{
                color: blue;
            }
           
        </style>
    </head>
    <body>
			<div class="b">b.html-这是网站头部黄色</div>
			<script type="text/javascript">
			window.onload = function(){
			console.log("b.html已进入完毕")
		}</script>

</body>
</html>